body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    padding: 15px 20px;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #ff6f61;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-links li a:hover {
    color: #ff6f61;
    transition: 0.3s;
}

.hero {
    height: 90vh;
    background-image: url('https://artesaniasdecolombia.com.co/Documentos/Contenido/9527_artesania-tolima-artesanias-colombia-2013.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.hero-content p {
    font-size: 20px;
    margin-bottom: 20px;
}

.btn {
    padding: 12px 24px;
    background-color: #ff6f61;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #ff8f81;
}

.productos {
    padding: 50px 20px;
    text-align: center;
    background-color: white;
}

.productos h2 {
    font-size: 36px;
    margin-bottom: 40px;
    color: #ff6f61;
}

.productos-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.producto {
    width: 30%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.producto:hover {
    transform: scale(1.05);
}

.producto img {
    width: 100%;
    height: auto;
    border-bottom: 3px solid #ff6f61;
}

.producto h3 {
    padding: 15px;
    background-color: #f4f4f4;
    color: #333;
    font-size: 20px;
}

.producto p {
    padding: 10px 15px;
    background-color: white;
    color: #777;
    font-size: 16px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    font-size: 14px;
}
